{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<style>
tr{

    font-size:12px !important;
    padding: 0px !important;
}
td{
    font-size:12px !important;
}

a{
    font-size:12px !important;
    height:100%;
}
i{
    font-size:12px !important;
    height:100%;
    color:white;
}
</style>
                
    <main>
        <div class="container-fluid">

            <div class="breadcrumb">
            <h4 class=""><i class="fa fa-home" aria-hidden="true"></i> / <small>Get SMS logs</small></h4> 
            </div>
            
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Properties
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Receiver</th>
                                    <th>Receiver Phone</th>
                                    <th>Message</th>
                                    <th>Code</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Receiver</th>
                                    <th>Receiver Phone</th>
                                    <th>Message</th>
                                    <th>Code</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                            <tbody>

                                {% for data in dataSms %}
                                <tr>
                                    <td>{{ data.receiver }}</td>
                                    <td>{{ data.receiverPhone }}</td>
                                    <td>{{ data.message }}</td>
                                    <td>{{ data.code }}</td>
                                    <td>{{ data.status }}</td>
                                    <td>
                                    <a class="btn btn-sm btn-warning"> <i class="fa fa-external-link-alt" aria-hidden="true"></i>Resend</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
                
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/static/assets/demo/chart-area-demo.js"></script>
    <script src="/static/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    {% comment %} <script src="/static/assets/demo/datatables-demo.js"></script> {% endcomment %}



    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>



    <script type="text/javascript">
         $(document).ready(function() {
    $('#dataTable').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    } );
} );      

    </script>

{% endblock javascripts %}
